form
{
    margin-left: 15%;
}

button[type="submit"]
{
    border-radius: 1%;
    background-color: black;
    border: 1px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button[type="submit"]:hover
{
    background-color: #2eb82e;
    font-weight: bold;
    border: 1px solid white;
}

input[type="text"], input[type="email"], .input-group-addon
{
    border: none;
    background-color: white;
    box-shadow:none;
    border-radius: 1%;
    border-bottom: 1px solid black;
}

input[type="text"]:focus, input[type="email"]:hover
{
    box-shadow:none;
    border-bottom: 1px solid black;
}

nav.lastTopics
{
    margin-left: 15%;
    margin-bottom: 2%;
    width: 70%;
    height: 430px;
}

nav.lastTopics div.larger
{
    float: left;
    height: 100%;
}

nav.lastTopics div.smallest1
{
    float: right;
    height: 48%;
}

nav.lastTopics div.smallest2
{
    float: right;
    margin-top: 1.5%;
    height: 48%;
}

nav.lastTopics div.larger, nav.lastTopics div.smallest1, nav.lastTopics div.smallest2
{
    width: 49%;
    transition: all .3s ease-in-out;
    background-position: center;
    background-size: cover;
}

nav.lastTopics div.smallest1 h1, nav.lastTopics div.smallest2 h1, nav.lastTopics div.larger h1
{
    color: white;
    font-size: 155%;
    margin-top: 2%;
    margin-left: 3%;
    font-weight: bold;
}

nav.lastTopics div.larger:hover, nav.lastTopics div.smallest1:hover, nav.lastTopics div.smallest2:hover
{
    opacity: 0.95;
    transform: scale(0.98);
}

nav.lastNews
{
    margin-left: 15.5%;
    width: 70%;
    height: 570px;
    padding-bottom: 10%;
}

nav ul.lastNews
{
    margin-left: 41%;
}

nav ul li.lastNews
{
    width: 100%;
    margin-bottom: 5%;
    border-top: 4px solid #404040;
    text-align: center;
    -webkit-transition-duration: 1s;
}

nav ul li.lastNews p
{
    -webkit-transition-duration: 1s;
    margin-top: 3%;
    color: #404040;
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 150%;
}

div.gallery {
    margin: 0.4%;
    float: left;
    width: 32%;
    transition: all .3s ease-in-out;
}

div.gallery:hover {
    transform: scale(0.98);
}

div.gallery img {
    width: 100%;
    height: 160%;
}

div.desc {
    padding: 4%;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    color: #404040;
}

div.gallery2 {
    margin: 0.4%;
    float: left;
    width: 23.8%;
    transition: all .3s ease-in-out;
}

div.gallery2:hover {
    transform: scale(0.98);
}

div.gallery2 img {
    width: 100%;
    height: 160%;
}

div.desc2 {
    padding: 4%;
    font-family: Arial;
    text-align: center;
    font-weight: bold;
    color: #404040;
}
