nav.postagem
{
    margin-top: -3.3%;
    width: 102%;
    margin-left: -1%;
}

div.postagem
{
    overflow: hidden;
    height: 550px;
    width: 100%;
    background-position: center top;
    background-size: cover;
}

div.postagem h2
{
    font-size: 135%;
    margin-top: 20%;
}

div.postagem h1
{
    font-size: 260%;
    font-weight: bold;
}

div.postagem h3
{
    overflow: hidden;
    font-size: 120%;
}

div.postagem h2, div.postagem h1, div.postagem h3
{
    color: white;
    margin-left: 20%;
}

span.time
{
    font-size: 100%;
    margin-right: 0.5%;
}
